table {
    margin: 30px;
}
.avatar {
    border-radius: 50%;
}
.image {
    width: 300px;
    text-align: center;
}
img {
    padding: 2px;
}
.details {
    width: 300px;
    padding: 30px;
}

@media only screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
        text-align: center;
    }
    .details {
        padding: 0;
    }
}