<table>
    <tr>
        <td class="image">
            <img class="avatar" src="assets/debashis.jpg" height="200px" width="200px" alt="Debashis Moharana"> <br />

            <!-- facebook link -->
            <a href="https://www.facebook.com/idebashismoharana" target="_blank">
                <img src="assets/facebook.svg" alt="facebook">
            </a>

            <!-- instagram link -->
            <a href="https://www.instagram.com/debashis_moharana/" target="_blank">
                <img src="assets/instagram.svg" alt="instagram">
            </a>

            <!-- twitter link -->
            <a href="https://twitter.com/QuillAsh12893" target="_blank">
                <img src="assets/twitter.svg" alt="twitter">
            </a>

            <!-- linkedin link -->
            <a href="https://in.linkedin.com/in/debashismoharana" target="_blank">
                <img src="assets/linkedin.svg" alt="linkedin">
            </a>

            <!-- skype link -->
            <a href="https://join.skype.com/invite/owQMtR7RjjiX" target="_blank">
                <img src="assets/skype.svg" alt="skype">
            </a>

        </td>
        <td class="details">
            <h3>Debashis Moharana.</h3>
            <p>
                Front End Web Developer <br />
                Hybrid Mobile Appliction developer <br />
                Email: moharana.debashis@gmail.com <br />
                Contact no: +91 887-232-6120
            </p>
        </td>
    </tr>
</table>