<table>
    <tr>
        <td class="image">
            <img class="avatar" src="assets/debashis.jpg" height="200px" width="200px" alt="Debashis Moharana">
        </td>
        <td class="details">
            <h3>Debashis Moharana.</h3>
            <p>
                Front End Web Developer <br />
                Hybrid Mobile Appliction developer <br />
                Email: moharana.debashis@gmail.com <br />
                Contact no: +91 887-232-6120
            </p>
        </td>
    </tr>
</table>