<table>
    <tr>
        <td class="image">
            <img class="avatar" src="assets/debashis.jpg" height="200px" width="200px" alt="Debashis Moharana"> <br />

            <!-- facebook link -->
            <a href="https://www.facebook.com/idebashismoharana" target="_blank">
                <img class="links" src="assets/facebook.svg" alt="facebook">
            </a>

            <!-- instagram link -->
            <a href="https://www.instagram.com/debashis_moharana/" target="_blank">
                <img class="links" src="assets/instagram.svg" alt="instagram">
            </a>

            <!-- twitter link -->
            <a href="https://twitter.com/QuillAsh12893" target="_blank">
                <img class="links" src="assets/twitter.svg" alt="twitter">
            </a>

            <!-- linkedin link -->
            <a href="https://in.linkedin.com/in/debashismoharana" target="_blank">
                <img class="links" src="assets/linkedin.svg" alt="linkedin">
            </a>

            <!-- skype link -->
            <a href="https://join.skype.com/invite/owQMtR7RjjiX" target="_blank">
                <img class="links" src="assets/skype.svg" alt="skype">
            </a>

        </td>
        <td class="details">
            <h3>Debashis Moharana</h3>
            <p>
                Hi, I am Debashis, working as UI developer since 2015. I have experience in developing web applications
                using angular and react as well as hybrid mobile applications using Ionic cordova framework and angular.
                <br /> <br />
                <!-- Front End Web Developer. Hybrid Mobile Appliction developer <br /> -->
                <label for="Email">Email: </label>
                <a href="mailto:moharana.debashis@gmail.com">moharana.debashis@gmail.com</a> <br />
                <!-- <label> Contact no: </label>
                <a href="tel:+918872326120">+91 8872326120</a> -->
            </p>
        </td>
    </tr>
</table>