<table>
    <div class="work">
        <tr>
            <th class="title">Work Experience</th>
            <td>
                <mat-card class="content">
                    <mat-card-header>
                        <mat-card-title>Cybage Software Pvt Ltd.</mat-card-title>
                        <mat-card-subtitle>Senior Software Engineer (Oct 2019 - till date)</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="content">
                    <mat-card-header>
                        <mat-card-title>Infosys Limited</mat-card-title>
                        <mat-card-subtitle>Senior Systems Engineer (May 2015 - Oct 2019)</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                </mat-card>
            </td>
        </tr>
    </div>
    <div class="education">
        <tr>
            <th class="title">Education</th>
            <td>
                <mat-card class="content">
                    <mat-card-header>
                        <mat-card-title>National Institute of Science and Technology (2011-2015)</mat-card-title>
                        <mat-card-subtitle>Bachelor of Technology (Computer science and Engineering)</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            As part of 4 years B.Tech course, studied various subjects related to computer science like
                            data structure,
                            object oriented java, Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt pariatur
                            laborum, in reiciendis reprehenderit quibusdam quos optio non voluptate culpa qui tempore.
                            Facere autem, fugiat totam labore dolorum accusantium illo.
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="content">
                    <mat-card-header>
                        <mat-card-title>College of Basic Science and Humanities (2009-2011)</mat-card-title>
                        <mat-card-subtitle>Intermediate of Science</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                </mat-card>
            </td>
        </tr>
    </div>
</table>