<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile [colspan]=1>
        <h2 >Work Experience</h2>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur provident, ipsam, quidem eum unde nostrum
        dolorem sapiente sint id, dolorum quasi. Commodi laborum quis reiciendis fugit at incidunt nemo quasi!
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1>
        <h2>Education</h2>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur provident, ipsam, quidem eum unde nostrum
        dolorem sapiente sint id, dolorum quasi. Commodi laborum quis reiciendis fugit at incidunt nemo quasi!
    </mat-grid-tile>
</mat-grid-list>